<section>

    <div class="text" >
        <h3>
            Fique por dentro das tendências
        </h3>
        <p>
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </p>
    </div>

    <form action="">
        <label for="name">Name</label>
        <input type="text" id="name">
        <label for="email">Email</label>
        <input type="text" id="email">
    <app-btn-primary></app-btn-primary>
</form>

</section>