<app-header/>

<main>
    <section class="main-section">
        <div class="headline">
            <span>Easy Dev</span>
            <h1>
                A Consultoria que você busca para o seu software
            </h1>
            <div class="benefit">
                 <div class="benefit-data">
           <h2>
             95% das<br>
            empresas
           </h2>
        </div>
        <p>
            não sabe como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições
        </p> 
        </div>
            </div>
       
        <img src="./assets/principal.png" priority alt="Imagem principal da home" width="100%" height="574">
    </section>

    <section class="cta-section" >
        <app-btn-primary btn-text="fale com nossos especialistas"></app-btn-primary>
    </section>

</main>