.headline{
    position: absolute;
    top: 50;
    font-family: 'Roboto', sans-serif;
    padding: 0 70px;
    flex-direction: column;
    span {
        font-size: 20px;
        font-weight: 700;
        color: var(--secondary-text);
    }

    h1{
        font-size: 72px;
        font-weight: 900;
        color: var(--primary-text);
    }
}

.benefit{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 150px;
    gap: 70px;
    .benefit-data {
        border-bottom: 10px solid var(--secondary-color);
    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 600;
        color: var(--primary-text);
    }
   
} 
 p{
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        b{
            background: -webkit-linear-gradient(180deg,  var(--light-primary-color), var(--secondary-color));
            -webkit-background-clip: text;
             background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
        }
    }
}

.cta-section{
    display: flex;
    justify-content: center;
    margin: 84px;
}